.container{
    height: fit-content;
    width: 100%;
    padding: 10px;
    /* background-color: green; */
}
.commentArea{
    height: fit-content;
    width: 100%;
    /* background-color: rgb(105, 107, 196); */
}
.overall{
    height: fit-content;
    width: 100%;
    margin-top: 20px;
    position: relative;
    /* background-color: rgb(157, 196, 105); */
}
.personComment{
    height: fit-content;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    /* background-color: rgb(105, 193, 196);  */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 20px;
    position: relative;
}
.avatarSpace{
    min-height: 40px;
    min-width: 40px;
    position: relative;
    border-radius: 100%;
    /* background-color: red; */
    margin-top: 10px;
    overflow: hidden;
}
.textSpace{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-style: italic;
}
.textSpace span{
    font-weight: 400;
    font-style: normal;
}
.reply{
    position: absolute;
    bottom: 10px;
    right: 50px;
    cursor: pointer;
    color: #3452eb;
    font-weight: 600;
    font-style: italic;
}
.textareaDiv{
    height: 100px;
    width: 80%;
}
.textareaDiv textarea{
    width: 100%;
    height: 100%;
    background-color: white;
    resize: none;
    outline: none;
}
.postComment{
    height: 30px;
    width: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
}
.postComment:active{
    opacity: 0;
}
.replyBox{
    height: fit-content;
    width: 90%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    /* background-color: rgb(196, 105, 181);  */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 20px;
    position: relative;
}

.subReply{
    position: absolute;
    bottom:0px;
    right: 80px;
    cursor: pointer;
    color: #3452eb;
    font-weight: 600;
    font-style: italic;
}